<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
<div class="commentsPanel">
<form wicket:id="commentsForm">
	<div wicket:id="showAllCommentsContainer" class="showAllComments">
		<a id="commentsCountLink" class="grey" wicket:id="showAllCommentsLink">
			<div>Show All <span wicket:id="commentsCount"></span> comments</div>
		</a>
	</div>
	<div class="commentsInfo" wicket:id="commentsListView">
		<table>
		<tr>
			<td align="center" valign="top" class="container-5">
				<div class="smallAvatar"><a wicket:id="authorLnk1"><img wicket:id="avatar"/></a></div>
			</td>
			<td class="container-5">
				<div><a wicket:id="authorLnk">
					<span class="bold" wicket:id="author"/></a>
					<span wicket:id="commentItemDesc"/>
					<div class="system-info">
						<span class="date item" wicket:id="createTs"/>
						<span class="item"><a class="delete grey" wicket:id="deleteLnk">delete</a></span>
					</div>
				</div>
				
			</td>
		</tr>
		</table>
	</div>
	<div class="noComments"><span wicket:id="noCommentsLabel"/></div>
	<div class="newCommentForm">
		<textarea rows="4" wicket:id="commentItemTxtTA" id="commentStr"></textarea>
		<input type="submit" wicket:id="addNewCommentBtn" class="send_btn top" value="Send"/>
	</div>
<!-- 	<div wicket:id="pagingNavigator" class="center"/> -->
</form>
</div>
</wicket:panel>
</body>
</html>