<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
<div class="newsPanel">
	<form wicket:id="newsForm">
		<div class="newsListView" wicket:id="newsListView">
			<div class="title"><a wicket:id="newsItemLink"><span wicket:id="newsItemTitle"/></a></div>
			<div class="system-info">
				<span class="item">
					<wicket:message key="common.author"/> <a wicket:id="authorLnk" class="grey">
					<span wicket:id="author"/></a>
				</span>
				<span class="item" wicket:id="createTs"/>
				<span class="item" wicket:id="viewedCount"/>
			</div>
			<div style="overflow: hidden;">
				<div class="newsItemImg" wicket:id="newsItemImage"/>
				<div wicket:id="newsItemDesc"/>
			</div>
			<ul class="system-command">
				<li><a class="grey topBorder" wicket:id="commentsLink"><span wicket:id="commentsCount"></span></a></li>
			</ul>			
		</div>
		<div wicket:id="pagingNavigator" class="pagination"/>
	</form>
</div>
</wicket:panel>
</body>
</html>