<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
		<div id="sendMessageFormPanel">
			<span class="smilesPanel" wicket:id="smilesPanel" style="display: none;"/>
			<div class="editable">
				<div contenteditable="true" class="editableDiv"	wicket:id="editableDiv"/>
				<img wicket:id="smilesIcon" style="position: absolute; top: 5px; right: 5px; cursor: pointer;" onClick="toggleSmilePanel();"/>
			</div>
			<div wicket:id="sendMessageBtn" class="send_btn top">Send</div>
		</div>
	</wicket:panel>
</body>
</html>