

/* ----- main blocks ----- */

body {
	background-color: #ECEFF3;
	margin: 0px;
	padding: 0px;
	direction: ltr;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 14px;
}

#output {
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
	box-shadow: 0px 5px 20px 3px #777777;
	border: 1px solid #999;
	position: relative;
}

#main {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px #777777 inset;
	margin-top: 4px;
}

#footer {
	text-align: center;
	background: url("images/bg-footer.png") repeat scroll center 0 green;
	height: 25px;
	vertical-align: baseline;
	box-shadow: 0px 0px 10px #777777 inset;
}

#mainContent {
	width: 100%;
	padding: 30px 10px 20px 10px;
}

#mainPage #main {
	padding: 30px 0;
}



/* ---- default ---- */

a {
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

a:link, a:visited{
	color: #006600;
}

a:hover, a:focus,
a:hover.grey, a:focus.grey,
a.deleteLnk:hover, a.deleteLnk:focus,
.grey a:hover, .grey a:focus {
	text-decoration: none;
	color: #F47D08 !important;
}
 
a:link.grey, a:visited.grey, 
.system-command a:link, .system-command a:visited {
	color: #999999;
}

.grey a:LINK, .grey a:VISITED {
	color: #999999;
	font-size: 12px;
}

a:link.green_btn, a:visited.green_btn {
	background: url("images/bg-green_btn.png") repeat-x scroll 0 0 transparent;
	color: #CCFFCC;
	padding: 4px 17px;
}

*+html a:link.green_btn, +html a:visited.green_btn {
	padding: 5px 17px;
}

a:hover.green_btn, a:focus.green_btn {
	background-position: 20px 100%; 
	color: #FFFFFF;
	text-decoration: none;
}

.delete {
	background: url("images/cross1.png") no-repeat 0 transparent;	
	padding-left: 15px;
	font-style: normal;
}

.system-info {
	font-size: 11px;
	font-style: italic;
	color: #999999;
	margin: 0 0 20px 0;
	padding: 0;
	display: inline-block;
}

.system-command {
	font-size: 12px;
	color: #999999;
	margin: 0 0 20px 0;
	font-style: normal;
	padding: 0;
	display: inline-block;
}

.system-info .item, .system-command .item {
	padding: 0 20px 0 0;
}

.system-info li, .system-command li {
	float: left;
	padding-right: 20px;
}

.system-info li.last, .system-command li.last {
	padding-right: 0;
}


#lightBox a:LINK, .galleryPanel a:LINK {
	color: #fff !important;
}

img {
	border: none;
}

ul {
	list-style: none;
}

td {
	vertical-align: top;
}

form label {
	color: #006600;
	font-weight: bold;
}

input[type="text"], input[type="password"], textarea, select, .editable  { 
    outline: none;
    border: 1px solid #99CC99;
    padding: 1px 3px;
    margin: 0 0 20px 0px;
}

textarea, .editable  {
	resize: none;
	box-shadow: 0 0 10px #99CC99 inset;
}

input[type="text"], input[type="password"] {
	box-shadow: 0 0 7px #99CC99 inset;
}

input[type="submit"] {
	padding: 4px 17px;
	border: 0;
	font-size: 14px;
}

*+html input[type="submit"]{
	padding: 3px 10px;
	margin-bottom: -4px;
}

.date {
	font-size: 11px;
	color: #999999;
	font-style: italic;
	padding-right: 10px;
}

.underDesc {
	border-top: 1px solid #006600;
	position: relative;
}

.underDesc ul {
	padding-left: 5px;
	margin-top: 5px;
}

.bold {
	font-weight: bold;
}

.size-12 {
	font-size: 12px;
}

.size-10 {
	font-size: 10px;
}

.bold {
	font-weight: bold;
}

.right {
	text-align: right;
}

.grey {
	color: #999999;
}

.green {
	color: #006600;
}

.green_btn {
	background: url("images/bg-green_btn.png") repeat-x scroll 0 0 transparent;
	color: #CCFFCC;
	font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
}

.green_btn:hover, .green_btn:focus {
	background-position: 20px 100% !important; 
	color: #FFFFFF !important;
}

input[type="submit"].send_btn, div.send_btn {
	background: url("images/send_btn.png") repeat-x scroll 69px -7px transparent;
	color: #CCFFCC;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 19px;
	padding-top: 45px;
	border: 0;
	font-size: 14px;
	cursor: pointer;
}

input[type="submit"].send_btn:hover, input[type="submit"].send_btn:focus,
div.send_btn:hover, div.send_btn:focus {
	background-position: -4px -7px !important; 
	color: #FFFFFF !important;
}

*+html input[type="submit"].send_btn {
	padding-left: 9px;
	padding-right: 9px;
}

@-moz-document url-prefix() {
	input[type="submit"].send_btn{
		padding-left: 14px;
		padding-right: 14px;
	}
}

.container-5 {
	padding: 5px;
}

.container-20-5 {
	padding: 20px 5px;
}

.container-10 {
	margin: 10px;
}

.center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.warning {
	background-color: red;
	color: white;
	font-weight: bold;
}
.info {
	background-color: #006699;
	color: white;
	font-weight: bold;
}

.deleted {
	background-color: #FFCCCC;
}
.avatar {
	max-width: 82px;
	max-height: 82px;
}
.smallAvatar {
	width: 60px;
	height: 60px;
	text-align: center;
}
.smallAvatar img {
	max-width: 60px;
	max-height: 60px;
}
.bigAvatar img {
	max-width: 300px;
	max-height: 250px;
}

.star {
	color: #CC0000;
}

.feedback {
	max-width: 700px;
	margin: 0 auto 0px;
}

.feedback span {
	line-height: 1.8;
}
	
.feedbackulERROR {
	color: #FF6A6A;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.feedbackulINFO {
	color: #009ACD;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.topBorder {
	border-top: 1px solid;
	border-color: #006600;
	padding-left: 5px;
	padding-right: 5px;
}

.top {
	vertical-align: top;	
}


.pagination {
	text-align: center;
}


/* ---- header ---- */

#header img {
	width: 100%;
}


/* ---- header menu ---- */

.headerMenu {
	position: relative;
	text-align: right;
	list-style-position: inside;
	height: 1.2em;
	margin: -1.7em 0 0 0;
	padding-right: 5px;
}

.headerMenu li {
	float: right;
	border-right: 1px solid snow;
}

.headerMenu a:link, .headerMenu a:visited {
	color: #CCFFCC;
	padding: 5px 14px;
	font-weight: bold;
	font-style: italic;
	opacity: 0.7;
	text-shadow: 0 0 2px #001100;
}

.headerMenu a:hover, .headerMenu a:focus {
	color: #FFFFFF !important;
	opacity: 0.9;	
	text-decoration: none;
}

.headerMenu .last {
	border-right: none;
}

/* ---- footer ----- */

#footer .copyright {
	font-style: italic;
	font-size: 14px;
	color: #FFFFFF;
	padding: 0 5px;
	opacity: 0.8;
}


/* ---- left panel ---- */

.leftPanel {
	background-color: #FFFFFF;
	box-shadow: 0 0 12px #BBBBBB inset;
	width: 310px;
	border-right: 1px solid #BBBBBB;
}

.leftPanel .section {
	margin: 20px auto 0px;
}

/* ---- login panel ----  */

.loginPanel {
	width: 300px;
	position: relative;
	text-align: center;
}

.loginPanel .btn {
	width: 250px;
	margin: 0 auto;
	text-align: right;
}

.leftPanel .loginPanel label {
	line-height: 1.7em;
}

.leftPanel .loginPanel {
	width: 250px;
}

.leftPanel .loginPanel input[type="text"], 
.leftPanel .loginPanel input[type="password"] {
	width: 142px;
	margin: 0 0px 10px 10px; 
}

.leftPanel .loginPanel .btn {
	width: 190px;
}


/* ---- welcome panel ---- */

.welcomePanel .newMessagesCount {
	font-size: 12px;
	font-weight: bold;
	line-height: 3em;
	text-decoration: none;
}
.welcomePanel .newMessagesCount em {
	color: #999999;
}


/* ---- gallery panel --- */

.galleryPanel {
	width: 250px;
	height: 186px;
	position: relative;
	padding: 0 7px !important;
}

.galleryPanel .galleryList {
	padding: 0;	
	text-align: center;
	width: 250px;
	height: 186px;
	position: absolute;
}
.galleryPanel .galleryList img {
	max-height: 186px;
	max-width: 250px;
}


/* ---- voting  ---- */

.votingsListView {
	color: #006600;
	padding: 5px;
}

.votingsListView .question {
	font-weight: bold;
	color: #003300;
	font-size: 13px;
	margin-bottom: 5px;
}

.votingsListView .variant {
	margin-bottom: 5px;
	margin-left: 5px;
}

.votingsListView .voting_info {
	color: #999999;
	font-size: 10px;
	border-left: 1px solid;
}

.leftPanel .votingsListView .voting_info {
	border-left: none;
	border-top: 1px solid;
	margin-bottom: 20px;
	width: 80%;
}


/* ---- forget password page ----- */

#forgetPasswordPage .loginPanel input[type="text"], 
#forgetPasswordPage .loginPanel input[type="password"] {
	width: 200px;
	margin: 0 0px 20px 10px;
}

#forgetPasswordPage .loginPanel .btn {
	width: 180px;
	text-align: left;
}

#forgetPasswordPage .loginPanel .label {
	margin-bottom: 23px;
}


/* ---- photogallery page ---- */

#photogalleryPage #lightBox img{
	max-height: 150px;
	max-width: 170px;
}


/* ---- registration page ---- */

.registrationPanel {
	max-width: 530px;
	position: relative;
}

.registrationPanel .dataFields {
	min-height: 280px;
}

.secondColl {
	vertical-align: top;
	position: absolute;
	right: 0px;
}

.registrationPanel input[type="text"], 
.registrationPanel input[type="password"] {
	width: 200px;
}

.registrationPanel .btn {
	width: 167px;
	margin-top: 20px;
}


/* ---- confirm reg page ---- */

#confirmRegistrationPage {
	max-width: 600px;
	margin: 0px auto;
	border: 1px solid;
}


/* ---- login page ----  */

#loginPage .loginPanel input[type="text"], 
#loginPage .loginPanel input[type="password"] {
	width: 200px;
	margin: 0 0px 20px 10px;
}

#loginPage .loginPanel .label {
	margin-bottom: 23px;
}


/* ---- news panel ----  */

.newsListView {
	padding: 10px 5px 20px;
}

.newsPanel .title {
	font-size: 20px;
	color: #006600;
	margin-bottom: 10px;
}

.newsPanel .newsItemImg {
	float: left;
	margin-right: 15px;
}

.newsPanel .newsItemImg img {
	max-height: 200px;
	max-width: 100%;
}

.newsPanel p {
	width: 100%;
	margin-top: 0;
}

.newsPanel .newsItem {
	background: url("images/bg-content.png") repeat-x scroll 0 -3px transparent;
}

.newsPanel .shareTools {
	display: inline-block;
	top: 0;
	position: absolute;
	right: 15px;
}


/* ---- news item page ---- */

#newsItemPage .newsPanel .underDesc {
	border-top: 1px solid #006600;
	position: relative;
}

#newsItemPage .underDesc ul {
	margin-top: 5px;
	display: inline-block;
	padding-left: 5px;
}

#newsItemPage .underDesc li {
	float: left;
	padding-right: 30px;
}

#newsItemPage .body {
	overflow: hidden;
	padding: 0 5px;
}


/* ---- comments panel ----- */

.commentsPanel{
	padding: 20px 10px 0;
}

.commentsPanel .showAllComments {
	text-align: center;
	color: #999999;
	background-color: #eeeeee;
	cursor: pointer;
	padding: 5px;
}

.commentsPanel .commentsInfo {
	font-size: 12px;
	border-top: 1px solid #F1F1F1;
}

.commentsPanel .noComments {
	color: #999999;
	font-style: italic;
	text-align: center;
}

.commentsPanel .commentsInfo.first {
	border-top: none;
	padding-top: 10px;
}

#commentsPanel .commentsInfo p {
	margin-top: 5px;
}

.commentsPanel textarea {
	width: 80%;
}

.date {
	font-size: 11px;
	color: #999999;
	font-style: italic;
	padding-right: 10px;
}

.commentsPanel .newCommentForm{
	text-align: center;
	margin-top: 20px;
}


/* ---- news item panel ---- */

.newsItemUpdatePanel {
	width: 90%;
	max-width: 750px;
	position: relative;
}

.newsItemUpdatePanel input[type="text"], .newsItemUpdatePanel textarea {
	width: 100%;
}

.newsItemUpdatePanel .fileInputDiv {
	display: none;
}


/* ---- my cabinet page ---- */

#myCabinetPage {
	position: relative;
}


/* ---- account info page ---- */

.rightDiv {
	position: absolute;
	right: 3%;
	margin-bottom: 20px;
}

.leftDir {
	width: 400px;
	margin-left: 10px;
}

#accountInfoPage .login {
	color: #006600;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

#accountInfoPage .label {
	color: #003300;
	font-weight: bold;
}


/* ---- my cabinet menu ---- */

#myCabinetMenu {
	min-width: 500px;
	margin-bottom: 50px;
	display: inline-block;
	z-index: 10;
	position: relative;
}

.myCabinetMenu {
	position: relative;
	list-style-position: inside;
	height: 1.2em;
	margin: 0;
	padding: 0px;
}

.myCabinetMenu li {
	float: left;
	border-right: 1px solid snow;
}

.myCabinetMenu ul.secondLevel {
	margin-top: 8px;
	position: absolute;
	padding: 0px;
	background-color: white;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}
*+html .myCabinetMenu ul.secondLevel {
	margin-left: -120px;
	margin-top: 25px;
}
.myCabinetMenu .secondLevel li{
	float:none;
	padding: 5px 3px;
}

.myCabinetMenu a:link, .myCabinetMenu a:visited {
	color: #003300;
	text-shadow: 0 0 2px #FFFFFF;
	padding: 5px 14px;
	font-weight: bold;
	font-style: italic;
	opacity: 0.7;
}

.myCabinetMenu a:hover, .myCabinetMenu a:focus {
	color: #006600 !important;
	opacity: 0.9;	
	text-decoration: none;
}

.myCabinetMenu .last {
	border-right: none;
}


/* ---- change avatar page ---- */

.changeAvatarForm div {
	margin-bottom: 15px;
}


/* ---- change password page ---- */

.changePasswordForm {
	width: 250px;
}

#changePasswordPage input[type="password"] {
	width: 240px;
}


/* ---- confirm delete page ---- */

#confirmDeletePage {
	max-width: 600px;
	min-width: 430px;
	border: 1px solid;
}



/* ----- message list page ---- */

#messagesListPage .dialog {
	cursor: pointer;
	position: relative;
}

#messagesListPage .dialog.hover {
	background-color: #EDF1F5;
}

.dialog {
	padding: 10px;
}

.underMessage .date {
	padding-left: 40px;
	font-size: 12px;
	line-height: 2.1em;
}

#messagesListPage .smallAvatar {
	margin-right: 10px;
}

a.messageLnk:link {
	z-index: 10;
}

.underMessage {
	background-color: #FFFFFF;
	background: url("images/message.png") no-repeat 0 0 transparent;
	float: right;
	margin: -5px 25px;
}

.underMessage.incomming {
	background-position: 0 0;
}

.underMessage.new {
	background-position: 0 -65px;
}

.underMessage.sent {
	background-position: 0 -32px;
}

.messageDesc p {
	max-height: 2em;
	overflow: hidden;
	font-size: 14px;
}

.deleteDiv {
	position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.border {
	border-top: 1px solid #EFEFEF;
}

.dialog .author {
	font-weight: bold;
	color: #006600;
}


/* ---- message page ----  */

#messagePage .messagesHistory {
	max-height: 400px;
	overflow: auto;
}

.sendMessageFormPanel {
	position: relative;
}

.editable {
	width: 67%;
	display: inline-block;
	position: relative;
	margin-left: 5px;
}

.editableDiv {
	height: 75px !important;
	overflow: auto;
	margin-right: 20px;
	outline: none;
	padding: 1px 3px;
}

.sendMessageFormPanel .smilesPanel {
	left: 88px;
	position: absolute;
	top: -214px;
}

.sendMessageFormPanel div.send_btn {
	display: inline-block;
}

#smilesPanel {
	width: 313px;
	position: absolute;
	background: #fff;
	border: 1px solid;
	max-height: 200px;
	overflow: auto;
	padding: 5px;
}



